@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

/* Box sizing rules && Remove default margin*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove List style on ul , ol elements with a */

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
}

/* set core body defaults */

body {
    text-rendering: optimizeSpeed;
    background-color: #F5F5F5;
    font-family: 'Cairo';
    padding: 1%;

}

/* make images easier to work with */

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

a {
    color: black;
}

:root {

    --primaryColor: #f78456;
    --bghero: #f7f7f7;
    --footerbg: #3a3650;
}

@font-face {
    font-family: 'Cairo' !important;
    src: url('assets/font/Cairo_family.ttf') !important;
}

/* start the hero section */
.hero-section {
    background-image: url('../assets/Rectangle\ 39994.svg');
    background-size: cover;
    background-position: unset;
}

.hero-section h2,
.hero-section h1,
.hero-section h3 {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1918px !important;
    }
}

/* nav bar start ***************************************************************************************************************/

.login {
    margin-left: 30px;
    width: 146px;
    height: 33px;
    padding: 0 !important;
    border-radius: 5px;
}

.logoDiv {
    padding: 0;
}

.navbar-nav a {
    margin-left: 15px;
}

.collapseDiv a {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    text-transform: capitalize;

    color: #DFAA53 !important;
}

.logoDiv {
    display: flex;
    flex-direction: row;
}

.logoPar p {
    color: #4894fe;
}

.logoPar img {
    width: 94px;
    height: 64.95px;
    /* margin-top: 50px; */
}

.logoImg {
    width: 73px;
    height: 64.95px;
    padding: 0 !important;
    margin-left: 4px;
}

a {
    text-decoration: none;
}

.bg {
    background-color: none !important;
}

.navbar-nav {
    gap: 3rem;
}

.nav-item .login {
    color: #ffffff;
    background: #3D5088;
    border: 1px solid #3D5088;
    border-radius: 10px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0;
    border-color: #fff0;
    color: #3D5088;
}

.notification:hover {
    background-color: #fff0;
    border-color: #fff0;
}

.notification:active {
    background-color: #fff0;
    border-color: #fff0;
}

.notification:active:hover {
    background-color: #fff0;
    border-color: #fff0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif-butt {
    margin-left: 10px;
}


.login:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none !important;
}



.notification:active {
    background-color: #ffffff00 !important;
    border-color: #ffffff00 !important;
    box-shadow: none !important;

}

.navbar {
    padding: 0 !important;
}

.collapseDiv a {
    font-size: 22px !important;
}

.menuIcon {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }

    .nav-item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .menuIcon {
        margin-bottom: 40px;
        display: none;
    }
}


@media (min-width: 768px) {

    #navbar-for-notifications {}
}

/* end nav bar *******************************************************************************************************************************/

/* start side bar *******************************************************************************************************************************/
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #FFFFFF;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: auto;
    z-index: 999;

}

.sidebar.hidden {
    display: none;
}

@media (max-width: 768px) {

    .sidebar {
        border-radius: 20px;
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 14%;
    align-items: flex-start;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #DDA738;
    display: flex;
    gap: 10px;
}

/* .sidebar ul li:hover {
    background-color: #ece9e9dc;
    width: 100%;
    height: 25px;
    border-radius: 10px;
} */

.sidebar ul li a:hover {
    color: #f1d191;
}

.content {
    padding: 20px;
    margin-left: 250px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
    }

    .user-photo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 14px;
    }
}


.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

.photo-contaniner {
    background-image: url("../assets/7arkat.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;

}

.user-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed #ebe5e3;
}


.greeting {
    color: #333;
    text-align: right;

}

#toggleSidebarBtn {
    display: none;
    margin: 4%;
    width: 9%;
    border-color: cornsilk;
    background-color: #F5F5F5;
    box-shadow: none !important;

}

.light-below:hover {
    background: linear-gradient(92.9deg, #3D5088 0%, #4F6BAA 100%);
    border-radius: 10px;
    color: #fff;
}

/* end  side bar *******************************************************************************************************************************/
/*Start section 1 *****************************************************************************/

.conatiner-profile {
    padding-top: 60px;
    padding-right: 252px;
    width: 100%;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameofclass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    isolation: isolate;
    color: #48AD9B;
    background: #E6FAF6;
    border-radius: 10px;
    width: 149px;
    height: 50px;
}



.profile {
    display: flex;
    padding: 2%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    justify-content: flex-start;
}


@media screen and (max-width: 768px) {
    .conatiner-profile {
        display: flex;
        padding-top: 20px;
        padding-right: unset !important;
    }
}


.profile-tabs {
    padding: 1%;
    height: 540px;
    background: #F8F9FD;
    box-shadow: 2px 4px 20px rgba(217, 217, 217, 0.04);
    flex-basis: 21%;
    border-radius: 15px;
}

.tab-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 14%;
    align-items: flex-start;
}

.tab-container li {
    min-width: 215px;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #dde0ea;
    padding-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}

.tab-container li:active {
    background: linear-gradient(96.14deg, #B66D12 0%, #DFAA53 100%);
    border-radius: 10px;
    width: 208px;
    height: 40px;
    display: flex;
    padding-right: 2%;
    align-items: center;
    justify-content: flex-start;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(96.14deg, #B66D12 0%, #DFAA53 100%);
    border-radius: 10px;
    color: #fff;
    width: 215px;
    display: flex;
    /* background-color: #007bff; */
    align-items: center;
    padding-right: 30px;
    justify-content: flex-start;
}


.nav-link {
    color: #3C5681;
}

.nav-link:focus,
.nav-link:hover {
    color: #3C5681;
}

.confirm-btn {
    width: 250px;
    color: #ffffff;
    background-color: #DDA738;
    margin-top: 85%;

}



@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        padding: 2%;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .confirm-btn {
        width: 250px;
        color: #ffffff;
        margin: 28px 0px 18px 0px;
        background-color: #DDA738;
    }



    .row {
        gap: 5px;
    }

    .conatiner-profile {
        width: 120%;
    }

    .profile-tabs {
        padding: 1%;
        height: 540px;
        background: #F8F9FD;
        box-shadow: 2px 4px 20px rgba(217, 217, 217, 0.04);
        flex-basis: 21%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar {
        width: 120%;

    }
}



.inputs {
    margin-top: 58px;
    width: 100%;
    padding: 3%;
}

.form-control {
    height: calc(1.5em + 0.75rem + 10px) !important;
}


/**************************************************************************************************************************************************************************/


/* .section-3 {
    border: 1px solid rgba(143, 149, 165, 0.13);
    box-shadow: 0px 2px 48px rgba(143, 149, 165, 0.13);
    border-radius: 15px;
    padding: 15px;
    background-color: #ffffff;
} */

.section3-above {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
}

.signup-now {
    width: 250px;
    color: #ffffff;
    background-color: #DDA738;

}

.text-sec3-above {
    font-weight: 500;
    font-size: 24px;
    color: #5F5F5F;
    text-align: right;

}

.section3-below {
    display: flex;
    /* gap: 43px; */
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.section3-below-div {

    width: 48%;
    position: relative;
    direction: rtl;
    display: flex;
    flex-direction: row;
    padding-right: 3%;
}

.section3-below-div>div:last-child {
    margin-left: 0 !important;
}

.user-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    background-color: #F8F9FC;
    border-radius: 15px;
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    height: 155px;
    justify-content: flex-start;
}

.user-pic {
    height: 188px;
    border-radius: 0px 15px 15px 0px;
    /* border-radius: 15px; */
    /* border-radius: 0 0px 0 0; */
    display: flex;
    /* background: linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(248, 249, 252, 1) 50%); */
}

.user-pic img {
    position: absolute;
    margin-top: 55px;
    margin-right: -30px;
}

.user-desc-header {
    display: flex;
}

.user-desc-header .custom-radio {
    display: inline-block;
    position: absolute;
    /* padding-left: 25px; */
    /* margin-right: 10px; */
    cursor: pointer;
    user-select: none;
    left: 11px;
}



.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.custom-radio input:checked~.checkmark::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #43CC5C;
    border-radius: 50%;
}

.user-desc-header h5 {
    position: relative;
    right: -2px;
    font-weight: 600;

}

@media (max-width: 768px) {
    .section3-below {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap: 35px;

    }

    .section3-below-div {
        width: 90%;
        gap: 20px;
    }

    .user-desc-header .custom-radio {
        display: inline-block;
        position: absolute;
        /* padding-left: 25px; */
        /* margin-right: 10px; */
        cursor: pointer;
        user-select: none;
        left: 11px;
    }

    .user-pic img {
        position: absolute;
        margin-top: 66px;
        margin-right: -30px;
    }

    .discreption-one {
        font-size: 22px;
        font-weight: 500;
        padding: 28px;
    }

    .marker {
        display: none !important;
    }

    .text-sec3-above {
        font-size: 21px;
        font-weight: 400;
        text-align: right;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .section3-below {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap: 35px;

    }

    .section3-below-div {
        width: 90%;
        gap: 20px;
    }

    .user-desc-header .custom-radio {
        display: inline-block;
        position: absolute;
        /* padding-left: 25px; */
        /* margin-right: 10px; */
        cursor: pointer;
        user-select: none;
        left: 11px;
    }

    .user-pic img {
        position: absolute;
        margin-top: 66px;
        margin-right: -30px;
    }
}

.user-description p {
    font-size: 13px;
    font-weight: 500;
    color: #969AA8;
    line-height: 22px;
}

.today h2 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;

    color: #000000;
}

.todayDate .hijreDate {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* identical to box height */

    text-align: right;

    color: #000000;
}







.todayDate .meladyDate {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height */

    text-align: right;

    color: #4F6BAA;
}




/*End section three***********************************************************************************************************************/

.onerow {
    display: flex;
    gap: 4%;
    justify-content: flex-start;
    padding-right: 2%;

}

@media screen and (max-width: 768px) {
    .onerow {
        display: flex;
        gap: 4%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .user-description {
        height: 100% !important;
    }

}

@media screen and (max-width: 1037px) and (min-width: 768px) {
    .user-description {
        height: 268px;

    }

    .profile {
        width: 150%;
    }

    .sidebar {
        right: calc(-335px + (100vw - 768px) / 20 * 30);
    }
}

/*Start section 1 *****************************************************************************/

.conatiner-profile {
    padding-top: 60px;
    padding-right: 252px;
    width: 100%;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}


.edit-the-card {
    display: flex;
    width: 50%;
    margin: auto;
    color: #3A4F7A;
    border-radius: 25px;
    border: 1px solid #2D8EFF;
    background: #ECF5FF;
    box-shadow: 0px 0px 10px 0px rgba(45, 142, 255, 0.10);
}

.buttons-the-card {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.edit-the-card2 {
    display: flex;
    width: 50%;
    color: #3A4F7A;
    margin: auto;
    border-radius: 100px;
    border: 1px solid #FF9E2D;
    background: #FFF7ED;
    box-shadow: 0px 0px 10px 0px rgba(255, 158, 45, 0.10);
}


.edit-the-card3 {
    display: flex;
    width: 50%;
    margin: auto;
    color: #3A4F7A;
    border-radius: 100px;
    border: 1px solid #F45050;
    background: #FFEDED;
    box-shadow: 0px 0px 10px 0px rgba(244, 80, 80, 0.10);
}

.imageoo {
    margin-right: -8px;
    margin-top: 1px;
    width: 40%;

}

.card {
    border-radius: 22px !important;
    cursor: pointer;

}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}



.card-text {
    color: #C8882F;
    text-align: right;
    font-size: 14px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card-text2 {
    color: #969AA8;
    text-align: right;
    font-size: 15px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;

}


.add-another-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
}

@media (max-width: 768px) {
    .add-another-one {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

.rateing {
    width: 90px;
    position: absolute;
    height: 36px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 14px;
    bottom: 300px;

}

.card-img-top2 {
    width: 19%;

}

.cardoo {
    width: 18rem;
    display: flex;
    flex-direction: row;
    width: 1190px;
    height: 200px;
    border-radius: 19px !important;
}

.ratingo {
    bottom: 150px !important;
}

.profile-3 {
    display: flex;
    padding: 2%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
}



.body-calender {
    overflow: hidden;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    background: #4A4A4A;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 1000px;
    margin: 0 auto;
    height: 620px;
    overflow: hidden;
}

.header {
    height: 50px;
    background: #3D5088;
    text-align: center;
    position: relative;
    z-index: 100;
}

.header h1 {
    margin-top: -12px;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

.left,
.right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
    left: 20px;
}

.right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
    right: 20px;
}

.month {
    /*overflow: hidden;*/
    opacity: 0;
}

.month.new {
    -webkit-animation: fadeIn 1s ease-out;
    opacity: 1;
}

.month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
}

.month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
}

.week {
    background: #4A4A4A;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.day {
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #4A4A4A;
    position: relative;
    z-index: 100;
}

.day.other {
    color: rgba(255, 255, 255, .3);
}

.day.today {
    color: rgba(156, 202, 235, 1);
}

.day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: .7px;
}

.day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
}


.day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
}

.day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
}

.blue {
    background: rgba(156, 202, 235, 1);
}

.orange {
    background: rgba(247, 167, 0, 1);
}

.green {
    background: rgba(153, 198, 109, 1);
}

.yellow {
    background: rgba(249, 233, 0, 1);
}

.details {
    position: relative;
    width: 420px;
    height: 75px;
    background: rgba(164, 164, 164, 1);
    margin-top: 5px;
    border-radius: 4px;
}

.details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
}

.arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
}

.events {
    height: 75px;
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.events.in {
    -webkit-animation: fadeIn .3s ease both;
    -moz-animation: fadeIn .3s ease both;
    animation: fadeIn .3s ease both;
}

.events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.details.out .events {
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
}

.events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
}

.event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 2px 16px;
    vertical-align: top;
}

.event.empty {
    color: #eee;
}

.event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
}

.event span {
    display: inline-block;
    padding: 0 0 0 7px;
}

.legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(60, 60, 60, 1);
    line-height: 30px;

}

.entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
}

.entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
}

.entry.blue:after {
    background: rgba(156, 202, 235, 1);
}

.entry.orange:after {
    background: rgba(247, 167, 0, 1);
}

.entry.green:after {
    background: rgba(153, 198, 109, 1);
}

.entry.yellow:after {
    background: rgba(249, 233, 0, 1);
}

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
    from {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFade {
    to {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveToTopFade {
    to {
        height: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveToTopFade {
    to {
        height: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@-webkit-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@-webkit-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@-moz-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

.sidebar ul li a.active {
    color: #FFF;
    width: 200px;
    border-radius: 20px;
    line-height: 35px;
    border-radius: 10px;
    background: linear-gradient(135deg, #3D5088 0%, #4F6BAA 100%);
}

.tab-container li:active {
    background: linear-gradient(96.14deg, #B66D12 0%, #DFAA53 100%);
    border-radius: 10px;
    width: 208px;
    height: 40px;
    display: flex;
    padding-right: 2%;
    align-items: center;
    justify-content: flex-start;
}

.card {
    border-radius: 22px !important;
    cursor: pointer;

    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(189, 189, 189, 0.05);
    backdrop-filter: blur(30px);




}

.card:active {
    border-radius: 30px;
    background: linear-gradient(115deg, #FFE9A6 0%, #DFAA53 100%);
    box-shadow: 0px 10px 15px 0px rgba(207, 185, 151, 0.10);
    backdrop-filter: blur(30px);
}

.rateing {
    width: 90px;
    position: absolute;
    height: 36px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 14px;
    bottom: 261px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card-title {
    color: #3A3A3A;
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card-text {
    color: #3A3A3A;
    text-align: right;
    font-family: Cairo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}

.card-text2 {
    color: #969AA8;
    text-align: right;
    font-size: 15px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-right: 18px;

}

.card.selected {
    border-radius: 30px;
    background: linear-gradient(115deg, #FFE9A6 0%, #DFAA53 100%);
    box-shadow: 0px 10px 15px 0px rgba(207, 185, 151, 0.10);
    backdrop-filter: blur(30px);
}

.card.selected .card-body .card-title {
    color: #FFF;
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card.selected .card-body .card-text {
    color: #FFF;
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card .video {
    height: 191px;
    border-radius: 30px;
    padding: 6px;
}